.section__title {
  padding: 8px 60px;
  background: #3f79ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .section__title {
    padding: 10px 60px;
    font-size: 22px;
    line-height: 90%;
    margin-top: 30px;
    text-align: center;
  }
}
