.bradcrumbs {
  display: flex;
  align-items: center;
  gap: 7px;
}
.bradcrumb__item {
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.bradcrumb__item:last-child {
  font-weight: 400;
  color: #3f79ea;
}

@media screen and (max-width: 630px) {
  .bradcrumb__item {
    list-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
}