.promotions__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-gap: 10px;
  margin-bottom: 10px;
}
.promotion {
  background: #f8f8f8;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
}
.promotions {
  margin-top: 60px;
  margin-bottom: 20px;
}
