* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
body.blocked {
  overflow: hidden;
}
body.unblocked {
  overflow: auto;
}
::-webkit-scrollbar {
  position: absolute;
  left: 0;
  width: 5px;
  background-color: #c2c2c2;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(68, 59, 114);
  border-radius: 10px;
}
