* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.btn {
  background: #3f79ea;
  border-radius: 10px;
  padding: 8px 23px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn:hover {
  background-color: #3d6dce;
}
.btn:active {
  transform: translateY(1px);
}
